@charset "utf-8";


#secCanvas {
    display: block;
    margin: 0 auto;
    padding: 2.5px;
    max-width: 100%;
  }

.dateall {
    display: block;
    position: relative;
    overflow: hidden;
    width: 610px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-color: #000;
    border-width:  4px 4px 15px;
    border-radius: 30px 30px 30px 30px;
    background: white;
    z-index: -2;
    font-family: 'C4 Tellurium E 04', 'C4 Bismuth E 04', 'C4 RheniumR E 04', 'C4 タンタル E 04';
    color: #2d2d2d;
}

.background {
    background: linear-gradient(0deg, #fff9, #cccd 5%, #fff8 50%);
    /* background: aqua; */
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

#time {
    position: relative;
    margin: 0px;
    font-size: 150px;
}

#sec {
    position: relative;
    top: -10px;
}

.datenday {
    margin: 0 auto;
    /* position: relative; */
    /* background-color: darkgoldenrod; */
}

#date {
    font-size: 50px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    float: left;
    /* top: 20%; */
    /* background-color: coral; */
}

#day {
    font-size: 40px;
    width: calc(100% / 4);
    margin: 0 0 0 75%;
    text-align: left;
    position: relative;
    /* left: 50%; */
    /* background-color: blueviolet; */
    /* color: #ffaa00; */
}

.star0 {
    position: absolute;
    transform: rotate(60deg);
}
.pos-star0 {
    position: absolute;
    transform: translate(360px,0px);
    /* transform: scale(0.5, 0.5) translate(100px, 1400px); */
    z-index: -1;
}

.star1 {
    transform: rotate(10deg);
}
.pos-star1 {
    position: absolute;
    transform: translate(0px,-110px) scale(0.6);
    /* transform: scale(0.5, 0.5) translate(100px, 1400px); */
    z-index: -1;
}

.star2 {
    transform: rotate(50deg);
}
.pos-star2 {
    position: absolute;
    transform: translate(-100px,50px) scale(0.3);
    /* transform: scale(0.5, 0.5) translate(100px, 1400px); */
    z-index: -1;
}


.star {
    width: 300px;
    height: 300px;
    position: relative;
    clip-path: polygon(50% 1%, 64% 33%, 98% 37%, 72% 60%, 79% 92%, 50% 75%, 21% 92%, 28% 60%, 2% 37%, 36% 33%);
    /* clip-path: polygon(50% 1%, 62% 36%, 98% 37%, 69% 59%, 79% 92%, 50% 73%, 21% 92%, 31% 59%, 2% 37%, 38% 36%); */
    /* clip-path: polygon(50% 1%, 61% 37%, 98% 37%, 68% 58%, 79% 92%, 50% 71%, 21% 92%, 32% 58%, 2% 37%, 39% 37%); */
    background: #ddd;
    /* display: none; */
}